<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.karthek.android.s.files"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

	<application
		android:name=".FApplication"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/BlackSanUI">
		<activity android:name="com.karthek.android.s.files.SearchActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity
			android:name="com.karthek.android.s.files.DisplayMessageActivity"
			android:parentActivityName="com.karthek.android.s.files.FActivity" />
		<activity
			android:name="com.karthek.android.s.files.FActivity"
			android:parentActivityName="com.karthek.android.s.files.MainActivity" />
		<activity android:name="com.karthek.android.s.files.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts" />
		</activity>
		<activity
			android:name="com.karthek.android.s.files.Fops_Overlay"
			android:theme="@android:style/Theme.Holo.Dialog">
			<intent-filter>
				<action android:name="transparent.text.SECONDACTIVITY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<provider
			android:name="com.karthek.android.s.files.FProvider"
			android:authorities="com.karthek.android.s.files.FProvider.file"
			android:exported="false"
			android:grantUriPermissions="true" />
	</application>
</manifest>
